* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Color Theme Swatches in RGBA */
.honey-dew-1-rgba {
  color: rgba(232, 225, 113, 1);
}
.honey-dew-2-rgba {
  color: rgba(255, 198, 99, 1);
}
.honey-dew-3-rgba {
  color: rgba(255, 163, 56, 1);
}
.honey-dew-4-rgba {
  color: rgba(255, 102, 45, 1);
}
.honey-dew-5-rgba {
  color: rgba(232, 51, 48, 1);
}
